@import 'functions';
@import './helper/variables';
@import 'mixins';
@import 'bootstrap';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

img {
  max-width: 100%;
  max-height: 100%;
}
.logo {
  height: 40px;
  width: 100px;
}
.bg-cover {
  background-position: center;
  background-size: cover;
}
.navbar-bottom-line {
  border-bottom: 4px solid #ffdf65;
}
.navbar-register-section {
  margin-left: auto;
  .btn {
    padding: 5px 30px;
  }
  .btn-primary {
    margin-right: 10px;
  }
}
.register-section-hint {
  border-bottom: 2px solid #f8f9fa;
  position: relative;
}
.slogo-start::after {
  content: '';
  border-right: 1px solid;
  font-size: 20px;
}
.header-slogon {
  .bridge {
    font-size: 25px;
    padding: 0 10px;
  }
  h2 {
    font-weight: 600;
  }
}
.header-picture {
  width: 100%;
}
.header-feature {
  margin-right: 10px;
  img {
    margin-right: 10px;
  }
}
@media(max-width: 812px){
  .header-feature {
    margin-right: 0px;
    width: 25%;
  }
}
.Fundraising-section {
  border-left: 5px solid #ffdf65;
}
