@import 'functions';
@import './helper/variables';
@import 'mixins';
@import 'bootstrap';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
* {
 font-family: 'Noto Sans TC', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
img {
  max-width: 100%;
  max-height: 100%;
}
.logo {
  height: 40px;
  width: 100px;
}
.bg-cover {
  background-position: center;
  background-size: cover;
}
.navbar-bottom-line {
  border-bottom: 4px solid #ffdf65;
}
.navbar-register-section {
  margin-left: auto;
  .btn {
    padding: 5px 30px;
  }
  .btn-primary {
    margin-right: 10px;
  }
}
.btn-primary:hover {
  background-color: #FF785E;
  color:#fff;
}
.register-section-hint {
  border-bottom: 2px solid #f8f9fa;
  position: relative;
}
.slogo-start::after {
  content: '';
  border-right: 1px solid;
  font-size: 20px;
}
.header-slogon {
  h2 {
    font-weight: 600;
  }
}
.header-picture {
  width: 100%;
  height: 100%;
  background-image: url('../image/produt_image.jpg'); 
  border-radius: 30px;
}
.header-feature {
  margin-right: 10px;
  button {
    margin-right: 0.5rem;
  }
}
@media(max-width: 1000px){
  .header-picture {
    height: 450px;
  }
  .header-feature {
    margin-right: 0px;
    width: 25%;
    span {
      width: 100%;
      text-align: center;
    }
  }
}
@media(max-width: 567px) {
  .header-picture {
    height: 300px;
    background-image: url('../image/produt-image-smaller.jpg'); 
  }
}
@media(max-width: 376px) {
  .header-feature {
    button {
      margin-right: 0px;
    }
    span {
      font-size: 14px;
    }
  }
}
.Fundraising-section {
  border-left: 5px solid #ffdf65;
}
.nav-link {
  color: #000;
}
.nav-link.active {
  font-weight: 600;
  border-bottom: 3px solid #ffdf65;
}
.nav-link:hover {
  border-bottom: 3px solid #ffdf65;
}
.content-intro-picture {
  width: 100%;
  img {
    width: 100%; 
  }
}
.content-intro-title{
  border-left: 5px solid #ffdf65;
  padding-left: 15px;
  font-weight: 600;
}
.sponsor-title {
  height: 3px;
  position: relative;
}
.sponsor-title::before {
  content: '贊助專案';
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  font-weight: 600;
  font-size: 25px;
  background-color: #fff;

}
.sponsor-btn {
  padding: 10px 40px;
  font-weight: 600;
  font-size: 25px;
}
@media(max-width: 768px) {
  .main-content-nav {
    ul li {
      width: 25%;
    }
    .nav-link {
      padding:10px !important;
      width: 100%;
    }
  }
}
@media(max-width: 639px) {
  .main-content-nav {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 375px) {
  .main-content-nav {
    .nav-link {
      padding:7px !important;
    }
  }
}
.navbar {
  .nav-link:hover  {
    border: 0;
  }
}
.content-question-title {
  margin-right: 20px;
  div {
    width: 40px;
  }
}
.content-question-title-space {
  margin-right: 20px;
  div {
    width: 40px;
  }
}
.content-QA-btn {
  cursor:pointer;
  .fa-chevron-down {
    transition: all .5s;
  }
}
.content-QA-arrow-active {
  transform:rotate(180deg);
}
.content-QA-description {
  display: none;
  p {
    text-align:justify;
  }
}
.QAList li {
  transition: all .5s;
}
.QAList-option-active {
  box-shadow: 2px 3px 6px 3px rgba(0, 0, 0, 0.2);
}
@media (hover: none) {
  .content-QA-btn{
    p {
      color: #000;
    }
  }
}
.QAList li:hover {
  .content-QA-btn p{
    color: red;
  }
}
@media (hover: none) {
  .QAList li:hover {
    .content-QA-btn p{
      color: inherit;
    }
  }
}
@media(max-width: 767px) {
  .content-question-title-space {
    display: none;
  }
}
.progress-picture {
  height: 100%;
}
@media(max-width: 568px) {
  .progress-picture {
    height: 200px;
  }
}
.message-title {
  border-left: 5px solid #ffdf65;
}
.message-proposal {
  text-decoration: none;
}
.message-proposal:hover {
  text-decoration: underline;
}
.rightSide-sponsor-card {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  img {
    border-top-left-radius: 0.65rem;
  }
}
.btn-follow:hover {
  background-color: #ffdf65;
  border: 1px solid transparent ;
  color: #000;
  i {
    color: red;
  }
}
.sponsor-mobile-btn {
  display: block;
}
@media(min-width: 765px) {
  .sponsor-mobile-btn {
    display: none;
  }
}